.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(224, 218, 218);
}

.left-side-navbar {
  display: flex;
  align-items: center;
}

.right-side-navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}